<div class="slide-area">
<ul class="rs-slider slide-list">
	<% @slides.each_with_index do |slide,index| %>
	<li>
		<% if slide.image == []%>
		<%= "No Image Found"%>
		<%else%>
		<%=link_to image_tag(slide.image, :size=>"750x456"), item_path(:id=>slide.item_id) %>
		<div class="rs-caption rs-bottom">
			<%= slide.item.name %>
		</div>	
		<% end%>
	</li>
	<%end%>
</ul>
</div>

<div id="catalog">
	<% @items.each do |item| %>
	<%= render "items/item_box", :item => item %>	
	<%end%>
</div>

<script>
$( "input:submit, button" ).button();

$(document).ready(slider_start());

function slider_start () {
	$('.rs-slider').refineSlide({
		transition         : 'cubeH',
		transitionDuration : 1000,
		autoPlay           : true,
		keyNav             : false,
		delay              : 5000,
		controls           : 'thumbs',
	});
}

</script>
