		<div id="myCarousel" class="carousel slide">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
				<% @items.each do |item| %>
				<%if item==@items.first%>
				<div class="active item">
					<p>	<% if item.images == []%>
						<%= "No Image Found"%>
						<%else%>
						<%= image_tag item.images.first.image_url, :size => "400x300" %>				
						<% end%>
					</p>
				</div>
					<%else%>
					<div class="item">
						<p>	<% if item.images == []%>
							<%= "No Image Found"%>
							<%else%>
							<%= image_tag item.images.first.image_url, :size => "400x300" %>				
							<% end%>
						</p>
					</div>
				<%end%>

				<%end%>
		 
		  </div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>

<script>
$(function() {
	$( "input:submit, button" ).button();
});
</script>
