$navbarBackground:#E7E7E7;
$navbarBackgroundHighlight:white;
$navbarText:black;
$navbarLinkColor:black;
$navbarLinkColorHover:black;
$navbarLinkColorActive:black;
$navbarLinkColorHover:white;
$navbarLinkBackgroundHover:#005a87;	
$navbarLinkBackgroundActive:#F0FFFF;
$navbarSearchBackground:white;	
$navbarSearchBackgroundFocus:white;	
/*$navbarSearchBorder	darken(@navbarSearchBackground, 30%)	*/
/*$navbarSearchPlaceholderColor	#ccc	*/
$navbarBrandColor:white;


@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}


@import "bootstrap_and_overwrite";
@import "items";
@import "messages";

html{
	height:inherit;
}
body{
	padding-top: 50px;
	/*@include gradient(#99FFFF,black);*/
	background-color:white;
	font-size: 16px;
	color: #005a87
}

.btn-search{
	cursor: pointer;
	float: right;
	display: block;
	width: 32px;
	height: 28px;
	padding: 0;
	margin: 0;
	border: none;
	margin-top:-37px;
	margin-left: -3px;
	border:2px;
	border-radius: 6px;
}

a {
color: black;
text-decoration: none;
}

.carousel-control{
	position: absolute;
	top: 96%;
	left: 15px;
	width: 25px;
	height: 30px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 0;
	color: white;
	text-align: center;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.brand{
	height:15px;
	padding:0px;
	border:0px;
	margin:0px;
}

.input-prepend .btn:first-child {
    border-radius: 0 0 0 0;
    margin-top: 0.5px;
}

.navbar .brand {
	float: left;
	display: block;
	padding: 0px 23px 10px;
	margin-left: -20px;
	font-size: 14px;
	font-weight: 200;
	line-height: 1;
	color: white;
	width: 100px;
	height: 30px;
}

.sidebar_text_field{
	width: 125px;
}

.sidebar_number_field{
	width: 40px;
	
}

.navbar .nav > li > a{
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size:15px;
    color: #005a87;
    padding:11px 10px;
}

.slide{

}

.item-box{
	height:215px;
	margin: 5px 5px 0px 0px;
	position: relative;
	float:left;
}

.popular-box{
	min-height:200px;
	margin: 5px 5px 0px 0px;
}

.remove-margin{
	margin: 0px;
}

.remove-border{
	border: 0px;
	padding:0px;
}

.navbar{
	opacity:1.0;

}

.navbar .btn{
	margin-top:0px;
	margin-left:0px;
	padding:3px;
	padding-left:6px;
	padding-right:6px;
}

.navbar-search {
	margin-top: 6px;
}

.navbar-inner{
	margin-top:0px;
	height:40px;	
}

.navbar-search .search-query {
	margin-bottom: 5px;
}
.footer{
	text-align: center;
	height: 20px;
}

.navbar .nav > li > a:hover {
	
}

.carousel-shift-down{
	margin-top: 10px;
}

.input-large{
	width: 450px;
}

.categories{
	margin-bottom:2px;
}

.navbar .nav {
margin: -3px 10px 4px 4px;
}

#wishlist{
	border:2px;
	border-radius:15px;
	-moz-border-radius:15px;
	padding: 5px;
	margin-left: -10px;
	border-style:ridge;
}

.wish-item{
	margin-bottom:2px;
	position:relative;
	float:left;
}

.btn-group{
	margin-left: 10px;
}

.navbar .nav > li {
	margin-top:3px;
}

.wish_btn{
	padding:3px;
}

span.wish_code_overlay{
 	position:absolute;  
    bottombottom:0px;  
    left:0px;
    background-color:black;  
    color:white;  
    opacity:0.5; 
    filter:alpha(opacity=60);
}


div.item_code_overlay{
 	position:absolute;  
    bottombottom:0px;  
    left:4px;
    top:4px;
    background-color:black;  
    color:white;  
    opacity:0.5; 
    filter:alpha(opacity=60);
}

div.item_popularity_overlay{
 	position:absolute;  
    bottombottom:0px;  
    left:130px;
    top:4px;
    background-color:black;  
    color:white;  
    opacity:0.5; 
    filter:alpha(opacity=60);
}

ul, ol{
	margin: 2px 5px;
}

#catalog{
	margin-top: 10px;
}

.slide-area{
	display: block;
	background-color: #F2ECDF;
	padding: 7px 5px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border-bottom: 1.5px solid #DAD4C9;
	border-right: 1px solid #DED8CE;
}
/*
.slideIndex{
 	width: 20%;
  margin-left: auto ;
  margin-right: auto ;
	ul li {
	float: left;
	display: inline;
	padding: 0 5px;
	}
}

.slideNav{
	background:url('slider-nav.png') no-repeat right 0;
	float: left;
	display: inline;
	width: 10px;
	height: 10px;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}


body { 
	position:fixed;
	top:102px;
	left:2%;
	right:2%;
}
	
header{
	position:fixed;
	top:0px;
	left:2%;
	right:2%;
	z-index:5;
	width:96%;
	
	background-color:white;
	opacity:0.8;
	height:100px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.4);
	color: #262626;
	margin: 0;
	padding: 0;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	background-image:url("header.jpg");
}

*/