$navbarBackground:white;
$navbarBackgroundHighlight:gray;
$navbarText:black;
$navbarLinkColor:black;
$navbarLinkColorHover:black;
/*$navbarLinkColorActive	*/
/*$navbarLinkColorHover	*/
/*$navbarLinkBackgroundHover	transparent	*/
/*$navbarLinkBackgroundActive:$navbarBackground;	*/
/*$navbarSearchBackground	lighten($navbarBackground, 25%)	*/
/*$navbarSearchBackgroundFocus:white	*/
/*$navbarSearchBorder	darken(@navbarSearchBackground, 30%)	*/
/*$navbarSearchPlaceholderColor	#ccc	*/
/*$navbarBrandColor:*/
@import "bootstrap_and_overwrite";
@import "items";

body{
	padding-top: 60px;
	height:100%
}


.brand{
	height:15px;
	padding:0px;
	border:0px;
	margin:0px;
}

.sidebar_text_field{
	width: 125px;
}

.sidebar_number_field{
	width: 40px;
	
}

.slide{

}

.item-box{
	height:210px;
	margin: 5px 5px 0px 0px;
	position: relative;
	float:left;
}

.popular-box{
	min-height:200px;
	margin: 5px 5px 0px 0px;
}

.remove-margin{
	margin: 0px;
}

.remove-border{
	border: 0px;
	padding:0px;
}

.navbar{
	opacity:0.9;

}

.navbar .btn{
	margin-left:-5px;
}

.navbar-search .search-query {
	margin-bottom: 4px;
}
.footer{
	text-align: center;
	height: 20px;
}

.carousel-shift-down{
	margin-top: 10px;
}

.input-large{
	width: 450px;
}

.categories{
	margin-bottom:2px;
}

.wish-item{
	margin-bottom:2px;
}

.btn-group{
	margin-left: 10px;
}

.navbar .nav > li {
	margin-top:3px;
}

div.item_code_overlay{
 	position:absolute;  
    bottombottom:0px;  
    left:4px;
    top:4px;
    background-color:black;  
    color:white;  
    opacity:0.5; 
    filter:alpha(opacity=60);
}

/*
.slideIndex{
 	width: 20%;
  margin-left: auto ;
  margin-right: auto ;
	ul li {
	float: left;
	display: inline;
	padding: 0 5px;
	}
}

.slideNav{
	background:url('slider-nav.png') no-repeat right 0;
	float: left;
	display: inline;
	width: 10px;
	height: 10px;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}


body { 
	position:fixed;
	top:102px;
	left:2%;
	right:2%;
}
	
header{
	position:fixed;
	top:0px;
	left:2%;
	right:2%;
	z-index:5;
	width:96%;
	
	background-color:white;
	opacity:0.8;
	height:100px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.4);
	color: #262626;
	margin: 0;
	padding: 0;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	background-image:url("header.jpg");
}

*/