// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#listleft{
	width:30%;
	height:100%;
	position:fixed;
	top:103px;
	left:2%;	
}

#listright{
	width:66%;
	height:100%;
	position:fixed;
	top:103px;
	right:2%;	
	
	#searchDiv{
		position:fixed;
		right:3%;
	}
	#itemlist{
	 position:relative;
	 top:20px;
	}
}

.ui-widget {
font-family: Verdana, Arial, sans-serif;
font-size: 0.7em;
}

