// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#listleft{
	width:20%;
	height:100%;
	position:fixed;
	left:2%;	
}

#listright{
	width:80%;
	height:100%;
	position:fixed;
	right:2%;	
	
	#itemlist{
	 position:relative;
	 top:20px;
	}
	
	.category-box{
	border:2px solid #a1a1a1;
	padding:10px; 
	background:#ffffff;
	border-radius:25px;
	margin: 5px 5px 5px 5px;
	}
}


.item-box{
	float: left;
	width: 20%;
	height: 20%;
	border:2px solid #a1a1a1;
	padding:10px; 
	background:#ffffff;
	border-radius:25px;
	margin: 5px 5px 5px 5px;
}

.ui-widget {
font-family: Verdana, Arial, sans-serif;
font-size: 0.7em;
}

