// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*#listleft{
	width:20%;
	height:100%;
	position:fixed;
	left:2%;	
	
	.category-box{
	border:2px solid #a1a1a1;
	padding:10px; 
	background:#ffffff;
	border-radius:25px;
	margin: 5px 5px 5px 5px;
}
}*/

/*#listright{
	width:80%;
	height:100%;
	position:fixed;
	right:2%;	
	
	#itemlist{
	 position:relative;
	 top:20px;
	}
}*/


/*
.ui-widget {
font-family: Verdana, Arial, sans-serif;
font-size: 0.7em;
}*/

.locationLabel{
	width:100%;
}
.item_price{
	text-align: center;
	width:134px;
	height:15px;
	margin-bottom:2px;
	border-style:ridge;
	border-color:#E9AB17;
	background-color:#FFF380;
	font-family:"Times New Roman",Georgia,Serif;
	font-size:16px;
	position: absolute;
	bottom: 22px;
}
.interest{
	width:136px;
	padding:1px;
	position: absolute;
	bottom: 1px;
}

.show_code{
	font-family:"Times New Roman",Georgia,Serif;
	font-size:16px;
}