// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-on{
	margin-top:0px;
	
}

html{
	height:inherit;
}

.title{
	font-family: "Times New Roman", serif;
	font-size:28px;
}

.submitTagMessage{
		horder:-1px;
}

.input-prepend .add-on, .input-prepend .btn {
    margin-right: 6px;
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
-webkit-border-radius: 0px 0 0 0px;
-moz-border-radius: 0px 0 0 0px;
border-radius: 0px 0 0 0px;
margin-top:1px;
}